* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #121212;
}

h1 {
  color: white;
}
.author {
  color: rgba(255, 255, 255, 0.5);
}

.content {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  background-color: ##121212;
}

@media screen and (min-width: 992px) {
  .content {
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}
