/* Reset de estilos para evitar estilos padrão do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-left: 10px;
    margin-top: 10px;
}

/* Estilos gerais da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f6f8fc;
    color: #333;
}

header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px;
}

header a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos dos detalhes do Pokémon */
.pokemon-details {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    margin-left: 10px;
}

/* Estilos para os elementos específicos do Pokémon */
#pokemonName {
    font-weight: bold;
    color: #007bff;
}

#pokemonNumber {
    font-weight: bold;
}

#pokemonTypes {
    font-style: italic;
}

#pokemonDescription {
    margin-top: 10px;
}

/* Estilo para o link "Voltar para a lista de Pokémon" */
header a:hover {
    text-decoration: underline;
}

