body {
    text-transform: capitalize;
    width: 440px;
    margin: auto;
}

header {
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin: .5em .5em 0 .5em; 
    font-size: 3em;
}

a {
    text-decoration: none;
    color: #fff;
}

.about-values {
    padding: 2em;
    padding-top: .2em;
    color: #fff;
}

.title-values {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

span {
    color: #fff;
    padding: 0.25em 0.5em;
    margin: 0.25em 0;
    font-size: .9em;
    border-radius: 1em;
    filter: brightness(1.1);
    text-align: center;
    margin-right: .5em;
}

.poke-img-container {
    width: 200px;
    height: 200px;
    text-align: center;
    margin: auto;
    padding-top: 2em;
    margin-bottom: -2em;
}

.poke-img-container img {
    width: 200px;
    height: 200px;
}

.poke-data-details {
    background-color: #fff;
    border-radius: 7% 7% 7% 7%;
    padding: 2.5em .5em .5em 1.2em;
    min-height: 560px;
}

table {    
    margin: auto;
    width: 100%;
    align-items: start;
    text-align: left;
}

.poke-about-headline th {
    width: 130px;
}

table thead {
    height: 35px;
    margin-top: 22px;
}

table tbody tr td {
    padding-left: 20px;
    width: 120px;
    padding-top: 19px;
}

.male {
    color: darkblue;

}

.female {
    color: rgb(192, 110, 123);
    margin-left: 1.2em;
}

.male, .female {
    font-weight: 700;
    font-size: 1.4em;
    margin: 8px;
    padding: 2px
}

/* change table content behaviour */

.active-header {
border-bottom: 2px solid black;
}

.hide {
    display: none;
}

.show {
    display: table-row;
}