.normal {
    background: linear-gradient(45deg, #a8a77a 0%, #7e9774 100%);
}

.grass {
    background: linear-gradient(45deg, #7ac74c 0%, #00ba67 100%);
}

.fire {
    background: linear-gradient(45deg, #ee8130 0%, #e65e64 100%);
}

.water {
    background: linear-gradient(45deg, #6390f0 0%, #00b4ff 100%);
}

.electric {
    background: linear-gradient(45deg, #f7d02c 0%, #b4c421 100%);
}

.ice {
    background: linear-gradient(45deg, #96d9d6 0%, #76c0d7 100%);
}

.ground {
    background: linear-gradient(45deg, #e2bf65 0%, #afb44e 100%);
}

.flying {
    background: linear-gradient(45deg, #a98ff3 0%, #4e92ee 100%);
}

.poison {
    background: linear-gradient(45deg, #a33ea1 0%, #6d5fc6 100%);
}

.fighting {
    background: linear-gradient(45deg, #c22e28 0%, #a75a00 100%);
}

.psychic {
    background: linear-gradient(45deg, #f95587 0%, #de5f41 100%);
}

.dark {
    background: linear-gradient(45deg, #705746 0%, #746548 100%);
}

.rock {
    background: linear-gradient(45deg, #b6a136 0%, #8c9b36 100%);
}

.bug {
    background: linear-gradient(45deg, #a6b91a 0%, #73ae29 100%);
}

.ghost {
    background: linear-gradient(45deg, #735797 0%, #476ab1 100%);
}

.steel {
    background: linear-gradient(45deg, #b7b7ce 0%, #a9a2be 100%);
}

.dragon {
    background: linear-gradient(45deg, #6f35fc 0%, #006fff 100%);
}

.fairy {
    background: linear-gradient(45deg, #d685ad 0%, #ab81c3 100%);
}