.normal {
  background-color: #A6A877;
}

.grass {
  background-color: #46D1B1;
}

.fire {
  background-color: #FB6C6C;
}

.water {
  background-color: #77BEFE;
}

.electric {
  background-color: #F7CF2E;
}

.ice {
  background-color: #98D5D7;
}

.ground {
  background-color: #DFBF69;
}

.flying {
  background-color: #A98FF0;
}

.poison {
  background-color: #A040A0;
}

.fighting {
  background-color: #BF3029;
}

.psychic {
  background-color: #F65687;
}

.dark {
  background-color: #725847;
}

.rock {
  background-color: #B8A137;
}

.bug {
  background-color: #4D7F40;
}

.ghost {
  background-color: #6E5896;
}

.steel {
  background-color: #B9B7CF;
}

.dragon {
  background-color: #6F38F6;
}

.fairy {
  background-color: #F9AEC7;
}
