* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;;
    background-attachment: fixed;
    background-size: cover;
}

.content {
    width: 100vw;
    height: 100%;
    padding: 1rem;
    background-color: #f3ebeb;
    box-shadow: 5px 10px 5px 0 #1617185d;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}