*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #f6f8fc;
}

.content{
    padding: 1rem;
}

.container-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.container-button button{
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}