.modal {
    display: grid;
    grid-template-columns: 1fr 1fr;    
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    z-index: 2;
    top: 20%;    
    color: #fff;
    border-radius: 15px;
    left: 0;
    right: 0;
    margin: auto;    

  }
  
  .modal .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;     
  }

  .modal .flex img {
    width: 100%;
    height: 100%;
  }
  
  .modal input {
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
  }

  .head-title {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    text-transform: capitalize;
  }
  
  .modal p {
    font-size: 0.9rem;
    /* color: #777; */
    margin: 0.4rem 0 0.2rem;
  }
  
  button {
    cursor: pointer;
    border: none;
    font-weight: 600;
  }
  
  .btn {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
  }
  
  .btn-open {
    position: absolute;
    bottom: 150px;
  }
  
  .btn-close {
    position: absolute;
    right: 15px;
    top: 25px;
    transform: translate(10px, -20px);
    padding: 0.5rem 0.7rem;
    background: #eee;
    border-radius: 50%;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
  }
  
  .hidden {
    display: none;
  }
  

  @media screen and (max-width: 380px) {
    .modal {
      grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 576px) {
    .modal {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 992px) {
  .modal {
    grid-template-columns: 1fr;
}
}