.botaoFechar {
    justify-self: end;
    text-transform: capitalize;
    font-size: 2em;
    color: #ff0000;
    font-weight: bold;
    margin-right: 5px;
}

.botaoFechar:hover,
.botaoFechar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#divButtonClose {
    display: flex;
    flex-direction: row-reverse;
}

.modal {
    /*Modal global que ocupa a tela inteira*/
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.centralizador {
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.conteudoModalFisico {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemonsModal {
    width: 100%;
}

.pokemonOpen {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2.5em 2.5em 2fr;
    padding: 1.5rem 1rem;
    border-radius: 1rem;
    justify-content: center;
}

.typesOpen {
    display: flex;
    align-items: center;
    justify-content: center;
}


.nameOpen {
    justify-self: flex-end;
    color: #fff;
    margin-bottom: 0.25rem;
    text-transform: capitalize;
    font-size: 1.8em;
    padding: 0 0 0 20px;
}

.divSkills {
    justify-self: center;
}

.numberModal {
    display: flex;
    justify-content: end;
    align-items: center;
    text-transform: capitalize;
    font-size: 1.2em;
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillOpen {
    color: #fff;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0.01rem;
    font-size: .7rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}


.typesOpen {
    padding: 0;
    margin: 0;
    list-style: none;
}

.typeOpen {
    color: #fff;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0;
    font-size: 0.7rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.imageOpen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.images {
    max-width: 100%;
    height: 150px;
}

.divAtributes {
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.atributesHeader {
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.atribute {
    display: flex;
    justify-content: center;
    align-items: center;

}

.values {
    display: flex;
    justify-content: center;
    align-items: center;

}

@media screen and (min-width: 475px) {
    .pokemonsModal {
        width: 95%;

    }
}

@media screen and (min-width: 517px) {
    .pokemonsModal {
        width: 85%;

    }
}

@media screen and (min-width: 557px) {
    .pokemonsModal {
        width: 75%;

    }
}

@media screen and (min-width: 606px) {
    .pokemonsModal {
        width: 70%;

    }
}

@media screen and (min-width: 657px) {
    .pokemonsModal {
        width: 65%;

    }
}

@media screen and (min-width: 725px) {
    .pokemonsModal {
        width: auto;

    }
}