
.pokemons{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.pokemon{
    margin: 0.5rem;
    padding: 1.5rem 1rem;
    color: #fff;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.2s ease;
    width: 360px;
    height: 220px;
}

.pokemon:hover{
    opacity: 0.8;
    border: 3px #5219ff solid;
    cursor: pointer;
}


.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}


.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

.pokemon .number{
    color: black; 
    opacity: 0.6;
    text-align: right;
    font-size: 1.5rem;
}

.pokemon .name{
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 0.5rem;
}

.pokemon .detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types{
    padding: 0.1rem 0.2rem;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type{
    color: #fff;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
    margin: 0.2rem 0;
    border-radius: 1rem;
    filter: brightness(1.1);
}

.pokemon .detail img{
    max-width: 100%;
    height: 120px;
   
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}