.pokemons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
}

.normal{
     --type_color: #A8A77A;
     background-color: var(--type_color);
     background-image: url( '/assets//img/pokeball.svg' ), linear-gradient(45deg, var(--type_color) 60%, #fff);
     box-shadow: 0.25rem 0.25rem 1rem var(--type_color);
     
}
.fire{
     --type_color: #ee7f30;
     background-color: var(--type_color);
     background-image: url( '/assets//img/pokeball.svg' ), linear-gradient(45deg, var(--type_color) 60%, #fff);
     box-shadow: 0.25rem 0.25rem 1rem var(--type_color);
     
}
.water{
     --type_color: #6390F0;
     background-color: var(--type_color);
     background-image: url( '/assets//img/pokeball.svg' ), linear-gradient(45deg, var(--type_color) 60%, #fff);
     box-shadow: 0.25rem 0.25rem 1rem var(--type_color);

}
.electric{
     --type_color: #F7D02C;
     background-color: var(--type_color);
     background-image: url( '/assets//img/pokeball.svg' ), linear-gradient(45deg, var(--type_color) 60%, #fff);
     box-shadow: 0.25rem 0.25rem 1rem var(--type_color);
}
.grass{
     --type_color: #7AC74C;
     background-color: var(--type_color);
     background-image: url( '/assets//img/pokeball.svg' ), linear-gradient(45deg, var(--type_color) 60%, #fff);
     box-shadow: 0.25rem 0.25rem 1rem var(--type_color);
}
.ice{
     --type_color: #96D9D6;
     background-color: var(--type_color);
     background-image: url( '/assets//img/pokeball.svg' ), linear-gradient(45deg, var(--type_color) 60%, #fff);
     box-shadow: 0.25rem 0.25rem 1rem var(--type_color);
}
.fighting{
     --type_color: #C22E28;
     background-color: var(--type_color);
     background-image: url( '/assets//img/pokeball.svg' ), linear-gradient(45deg, var(--type_color) 60%, #fff);
     box-shadow: 0.25rem 0.25rem 1rem var(--type_color);
}
.poison{
     --type_color: #A33EA1;
     background-color: var(--type_color);
     background-image: url( '/assets//img/pokeball.svg' ), linear-gradient(45deg, var(--type_color) 60%, #fff);
     box-shadow: 0.25rem 0.25rem 1rem var(--type_color);
}
.ground{
     --type_color: #E2BF65;
     background-color: var(--type_color);
     background-image: url( '/assets//img/pokeball.svg' ), linear-gradient(45deg, var(--type_color) 60%, #fff);
     box-shadow: 0.25rem 0.25rem 1rem var(--type_color);
}
.flying{
     --type_color: #A98FF3;
     background-color: var(--type_color);
     background-image: url( '/assets//img/pokeball.svg' ), linear-gradient(45deg, var(--type_color) 60%, #fff);
     box-shadow: 0.25rem 0.25rem 1rem var(--type_color);
}
.psychic{
     --type_color: #F95587;
     background-color: var(--type_color);
     background-image: url( '/assets//img/pokeball.svg' ), linear-gradient(45deg, var(--type_color) 60%, #fff);
     box-shadow: 0.25rem 0.25rem 1rem var(--type_color);
}
.bug{
     --type_color: #A6B91A;
     background-color: var(--type_color);
     background-image: url( '/assets//img/pokeball.svg' ), linear-gradient(45deg, var(--type_color) 60%, #fff);
     box-shadow: 0.25rem 0.25rem 1rem var(--type_color);
     
}
.rock{
     --type_color: #B6A136;
     background-color: var(--type_color);
     background-image: url( '/assets//img/pokeball.svg' ), linear-gradient(45deg, var(--type_color) 60%, #fff);
     box-shadow: 0.25rem 0.25rem 1rem var(--type_color);
}
.ghost{
     --type_color: #735797;
     background-color: var(--type_color);
     background-image: url( '/assets//img/pokeball.svg' ), linear-gradient(45deg, var(--type_color) 60%, #fff);
     box-shadow: 0.25rem 0.25rem 1rem var(--type_color);
}
.dragon{
     --type_color: #6F35FC;
     background-color: var(--type_color);
     background-image: url( '/assets//img/pokeball.svg' ), linear-gradient(45deg, var(--type_color) 60%, #fff);
     box-shadow: 0.25rem 0.25rem 1rem var(--type_color);
}
.dark{
     --type_color: #705746;
     background-color: var(--type_color);
     background-image: url( '/assets//img/pokeball.svg' ), linear-gradient(45deg, var(--type_color) 60%, #fff);
     box-shadow: 0.25rem 0.25rem 1rem var(--type_color);
}
.steel{
     --type_color: #B7B7CE;
     background-color: var(--type_color);
     background-image: url( '/assets//img/pokeball.svg' ), linear-gradient(45deg, var(--type_color) 60%, #fff);
     box-shadow: 0.25rem 0.25rem 1rem var(--type_color);
}
.fairy{
     --type_color: #D685AD;
     background-color: var(--type_color);
     background-image: url( '/assets//img/pokeball.svg' ), linear-gradient(45deg, var(--type_color) 60%, #fff);
     box-shadow: 0.25rem 0.25rem 1rem var(--type_color);
}


.pokemon {
     margin: .5rem;
     padding: 1rem;
     border-radius: 1rem;
     display: flex;
     flex-direction: column;
     color: #fff;
     background-repeat: no-repeat;
     background-position: bottom 10% right 10%, 20% ;
     background-size: 7rem, 150%;
}

.pokemon .name {
    color: #fff;
    margin-bottom: .25rem;
    text-transform: capitalize;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem;
    padding: .5rem;
    border-radius: 5rem;
    font-size: .625rem;
    margin: .125rem 0;
    filter: brightness(1.1);
    text-transform: capitalize;
    background-image:none;
    box-shadow: none;
}

.pokemon .number {
    color: black;
    opacity: 0.3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .detail {
    margin: auto 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail img {
    max-width: 100%;
    height: 110px;
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button{
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    color: white;
    padding: .25rem;
    padding: .5rem;
    border-radius: 5rem;
}


@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}