* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.content-detail {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: auto;
    padding: 1rem;
    font-family: Roboto, sans serif;
}

h6 {
    margin: 5px 0;
    text-transform: uppercase;
}

p {
    font-size: 14px;
    line-height: 21px;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    position: relative;
    width: 350px;
    max-width: 100%;
    text-align: center;
    opacity: 80%;
}

.top {
    width: 100%;
    padding: 0.2rem;
    margin-top: 0.5rem;
    height: 25vh;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.top img {
    width: 80%;
    height: 25vh;
    position: relative;
}

.bottom {
    background-color: #fff;
    border-radius: 30px 30px 15px 15px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
}

.skills ol {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0.1rem;
    margin: 0;
    text-align: center;
}

.skills ol li {
    border: 1px solid #fff;
    color: #000;
    border-radius: 20px;
    display: inline-block;
    font-size: 12px;
    padding: 7px;
}

.top-number {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    margin-top: 10px;
}

.number {
    color: #000;
    font-size: 1rem;
    text-align: right;
    margin-right: 0.8rem;
    margin-top: 1rem;
}

.name {
    color: #000;
    font-size: 1.6rem;
    text-transform: capitalize;
}

.type {
    color: #fff;
    padding: 0.25rem 0.4rem;
    margin: 0.225rem 0.2rem;
    border-radius: 1rem;
    font-size: 0.825rem;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    filter: brightness(1.1);
}

.pokemon .detail .types .type {
    color: #000;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0;
    font-size: 0.625rem;
    border-radius: 1rem;
    filter: brightness(0.8);
    text-align: center;
}

.details {
    font-size: 14px;
    font-weight: 300;
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    font-weight: 700;
}

.ability {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.ability p {
    margin: 0.2rem;
    padding: 0.2rem;
}

.abilities {
    font-weight: 700;
}

@media screen and (min-width: 1000px) and (max-width: 1439) {
    .name {
        font-size: 2rem;
        margin-left: 1.5rem;
    }

    .type {
        margin-left: 1rem;
    }

    .number {
        font-size: 1rem;
        margin-right: 1.5rem;
    }

    .text {
        font-size: 1rem;
    }

    .ability {
        font-size: 1rem;
    }

    .skills {
        padding-bottom: 7.5rem;
    }
}

@media screen and (min-width: 1400px) {
    .name {
        font-size: 2.5rem;
        margin-left: 1.5rem;
    }

    .type {
        margin-left: 1rem;
        font-size: 1rem;
    }

    .number {
        font-size: 1.5rem;
        margin-right: 1.5rem;
    }

    .subtitle {
        font-size: 1.6rem;
    }

    .text {
        font-size: 1.4rem;
    }

    .ability {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 992px) {
    .content-detail {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

/* Style button "Back" */
#back-home {
    background-color: #444444;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
}

#back-home:hover {
    background-color: #666666;
}