.pokemons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 992px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 576px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 380px) {
  .pokemons {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 380px) {
  .pokemons {
    grid-template-columns: 1fr;
  }
}

.normal {
  background-color: #a6a877;
}
.grass {
  background-color: #77c850;
}

.fire {
  background-color: #ee7f30;
}
.water {
  background-color: #678fee;
}
.electric {
  background-color: #f7cf2e;
}
.ice {
  background-color: #98d5d7;
}
.ground {
  background-color: #d7bf69;
}
.flying {
  background-color: #a98ff0;
}
.poison {
  background-color: #a040a0;
}
.fighting {
  background-color: #bf3029;
}
.psychic {
  background-color: #f65687;
}
.dark {
  background-color: #725847;
}
.rock {
  background-color: #b8a137;
}
.bug {
  background-color: #a8b720;
}
.ghost {
  background-color: #6e5896;
}
.steel {
  background-color: #b9b7cf;
}
.dragon {
  background-color: #6f38f6;
}
.fairy {
  background-color: #f9aec7;
}

.name {
  color: white;
  margin-bottom: 0;
  text-transform: capitalize;
}
.number {
  color: #000;
  opacity: 0.5;
  text-align: right;
  font-size: 0.625rem;
}
.pokemon .types {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pokemon .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.pokemon .detail .types .type {
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0;
  font-size: 0.625rem;
  border-radius: 1rem;
  filter: brightness(1.07);
  text-align: center;
}

.pokemon {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 2rem 1rem;
  border-radius: 1rem;
  color: white;
}
.pokemons .detail img {
  max-width: 100%;
  height: 70px;
  align-self: flex-end;
}
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.pagination button {
  background-color: #6c79db;
  margin: 0.25rem 0;
  border: none;
  border-radius: 1rem;
  color: white;
  padding: 0.25rem 0.25rem;
  font-size: 0.625rem;
}
.buttonDetails {
  cursor: pointer;
}
.pokemon{
  box-shadow: 0.1rem 0.1rem  0.5rem rgb(12, 12, 12)
  
}

