:root {
  --identityprimary: rgba(220, 10, 45, 1);
  --identitysecondary: rgba(40, 170, 253, 1);
  --grayscaledark: rgba(29, 29, 29, 1);
  --grayscalemedium: rgba(102, 102, 102, 1);
  --grayscalelight: rgba(224, 224, 224, 1);
  --grayscalebackground: rgba(239, 239, 239, 1);
  --grayscalewhite: rgba(255, 255, 255, 1);
  --grayscalewireframe: rgba(184, 184, 184, 1);
  --header-headline-font-family: 'Roboto', sans-serif;
  --header-headline-font-weight: 700;
  --header-headline-font-size: 1.5rem;
  --header-headline-letter-spacing: 0;
  --header-headline-line-height: 2rem;
  --header-headline-font-style: normal;
  --header-subtitle-1-font-family: 'Roboto', sans-serif;
  --header-subtitle-1-font-weight: 700;
  --header-subtitle-1-font-size: 0.875rem;
  --header-subtitle-1-letter-spacing: 0;
  --header-subtitle-1-line-height: 1rem;
  --header-subtitle-1-font-style: normal;
  --header-subtitle-2-font-family: 'Roboto', sans-serif;
  --header-subtitle-2-font-weight: 700;
  --header-subtitle-2-font-size: 0.75rem;
  --header-subtitle-2-letter-spacing: 0;
  --header-subtitle-2-line-height: 1rem;
  --header-subtitle-2-font-style: normal;
  --header-subtitle-3-font-family: 'Roboto', sans-serif;
  --header-subtitle-3-font-weight: 700;
  --header-subtitle-3-font-size: 0.625rem;
  --header-subtitle-3-letter-spacing: 0;
  --header-subtitle-3-line-height: 1rem;
  --header-subtitle-3-font-style: normal;
  --body-body-1-font-family: 'Roboto', sans-serif;
  --body-body-1-font-weight: 400;
  --body-body-1-font-size: 0.875rem;
  --body-body-1-letter-spacing: 0;
  --body-body-1-line-height: 1rem;
  --body-body-1-font-style: normal;
  --body-body-2-font-family: 'Roboto', sans-serif;
  --body-body-2-font-weight: 400;
  --body-body-2-font-size: 0.75rem;
  --body-body-2-letter-spacing: 0;
  --body-body-2-line-height: 1rem;
  --body-body-2-font-style: normal;
  --body-body-3-font-family: 'Roboto', sans-serif;
  --body-body-3-font-weight: 400;
  --body-body-3-font-size: 0.625rem;
  --body-body-3-letter-spacing: 0;
  --body-body-3-line-height: 1rem;
  --body-body-3-font-style: normal;
  --body-caption-font-family: 'Roboto', sans-serif;
  --body-caption-font-weight: 400;
  --body-caption-font-size: 0.5rem;
  --body-caption-letter-spacing: 0;
  --body-caption-line-height: 0.75rem;
  --body-caption-font-style: normal;
  --inner-shadow-2-dp: ;
  --drop-shadow-2-dp: 0 0.063rem 0.188rem 0.063rem rgba(0, 0, 0, 0.2);
  --drop-shadow-6-dp: 0 0.188rem 0.75rem 0.188rem rgba(0, 0, 0, 0.2);
}
