.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 0.7rem;
}

.info img {
  max-width: 70%;
  height: 200px;
  margin: 1rem 0;
}

.info .type {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.about {
  background-color: white;
  height: fit-content;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 4px;
  box-shadow: 0 2px 8px -2px rgba(34, 34, 34, 0.4);
  border-radius: 1rem;
  width: 90%;
}

.about .title {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
}

.modal {
  text-transform: uppercase;
}

.modal .number {
  font-size: 1rem;
  cursor: default;
}

.modal .name {
  text-transform: capitalize;
  cursor: default;
}

.info hr {
  width: 80%;
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  background-color: #000;
}

ul {
  padding: 0;
  list-style: none;
  text-transform: uppercase;
}

.stats-container .stats {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.stats-container .stats p {
  min-width: 30px;
}

.stats-container .progress-bar {
  width: 100%;
  height: 1rem;
  background-color: #dddddd;
  border-radius: 6px;
  position: relative;
}
.stats-container .progress-bar .progress {
  height: 100%;
  border-radius: 6px;
  position: absolute;
}

.stats-container .stats :first-child {
  flex: 1;
}

.stats-container .stats :nth-child(2) {
  flex: 1;
}

.stats-container .stats :nth-child(3) {
  flex: 9;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.7;
  z-index: 1;
}

.pokemonDetail {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  border-radius: 1rem;
  z-index: 1000;
  width: 500px;
  max-width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.modal {
  padding: 20px;
  max-width: 100%;
  border-radius: inherit;
}

.modal > span {
  cursor: pointer;
}
